<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>{% block title %}Hit Switch{% endblock %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,300' rel='stylesheet' type='text/css'>
        
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/pikaday.min.css") }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/pure.min.css") }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/grids-responsive.min.css") }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/responsive-nav.css") }}"/>
        
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/layout.css") }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/header.css") }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/footer.css") }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/blocks.css") }}"/>
        <link rel="stylesheet" href="{{ asset("bundles/frontend/admin/css/navigation.css") }}"/>
        
        {% block head %}
        {% endblock %}

    </head>

    <body {% block internal %}class="internal"{% endblock %}>
        <div id="layout">
            <header>
                <div class="header-limiter">
                    <h1><a href="#">Company<span>logo</span><img width="240" height="42" src="{{ asset("bundles/rewards/images/helloworld-logo.png") }}" /></a></h1>
                    
                    <nav class="nav-collapse">
                        <ul>
                            <li><a href="/" class="active">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </header><!-- End of #header1-->

            <div id="content">
                {% block content %}  
                {% endblock %}  
            </div><!-- End of #content-->

            <footer>
                <p class="footer-company-motto">Hit Switch</p>
                <p class="footer-links">
                        <a href="#">Home</a>
                        ·
                        <a href="#">Blog</a>
                        ·
                        <a href="#">Pricing</a>
                        ·
                        <a href="#">About</a>
                        ·
                        <a href="#">Faq</a>
                        ·
                        <a href="#">Contact</a>
                </p>
                <p class="footer-company-name">tl8.co &copy; {{"now"|date('Y')}}</p>
            </footer>

            <script type="text/javascript" src="{{ asset("bundles/rewards/js/jquery.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bundles/rewards/js/moment.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bundles/rewards/js/pikaday.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("bundles/rewards/js/responsive-nav.js") }}"></script>
            <script>
                var navigation = responsiveNav(".nav-collapse", {
                    animate: true,                    // Boolean: Use CSS3 transitions, true or false
                    transition: 284,                  // Integer: Speed of the transition, in milliseconds
                    label: "Menu",                    // String: Label for the navigation toggle
                    insert: "after",                  // String: Insert the toggle before or after the navigation
                    customToggle: "",                 // Selector: Specify the ID of a custom toggle
                    closeOnNavClick: false,           // Boolean: Close the navigation when one of the links are clicked
                    openPos: "relative",              // String: Position of the opened nav, relative or static
                    navClass: "nav-collapse",         // String: Default CSS class. If changed, you need to edit the CSS too!
                    navActiveClass: "js-nav-active",  // String: Class that is added to <html> element when nav is active
                    jsClass: "js",                    // String: 'JS enabled' class which is added to <html> element
                    init: function(){},               // Function: Init callback
                    open: function(){},               // Function: Open callback
                    close: function(){}               // Function: Close callback
                });
            </script>
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-74241249-1', 'auto');
              ga('send', 'pageview');

            </script>
            {% block foot %}
            {% endblock %}
        </div>
    </body>
</html>